/* nav */

#main-nav .social {
  display: none;
}

#main-nav .container {
  display: grid;
  grid-template-columns: 1fr;
  padding: 2vw 2vh;
  align-items: center;
  justify-items: center;
}

#main-nav ul{
  justify-self: center;
  margin-top: 1.5vh;
}

/* articles */

#home-article .articles-container {
  grid-template-columns:  repeat(2, 1fr);
}

#home-article .articles-container > *:first-child {
  grid-column: 1 / span 2;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1rem;
}


#home-article .card:nth-child(7) {
  grid-column: 1 / span 2;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 15px;
}

@media (max-width: 600px) {
  /* stack grid items */
  #showcase .showcase-container {
    grid-template-columns: 1fr;
  }
  
  #home-article .articles-container {
    grid-template-columns: 1fr;
  }
  #home-article .articles-container article:first-child,
  #home-article .articles-container article:nth-child(7) {
    grid-template-columns: 1fr;
    grid-column: 1;
  }

  /* footer  */

  #main-footer .footer-container{
    grid-template-columns: 1fr;
    text-align: center;
  }

  #main-footer .footer-container div:last-child{
    grid-column: 1;
  }

  /* Le pouvoir du page container qu'il a fait :  */

  .page-container {
    grid-template-columns: 1fr;
    text-align: center;
  }

  .l-heading {
    font-size: 2rem;
  }
}